:root {
  --text-color-1: hsl(0, 0%, 95%);
  --text-color-2: hsl(0, 0%, 5%);
  --background-color: hsl(0, 0%, 0%, 0.45);
}

body {
  background: hsl(0, 0%, 27%);
  background-image: url("table.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  flex-grow: 1;
  margin: 5vh 5vw;
  border-radius: 16px;
  background-color: var(--background-color);
  box-shadow: 1px 1px 7px 2px hsl(347, 100%, 0%);
  backdrop-filter: blur(2px);
}

header {
  position: static;
  display: flex;
  justify-content: space-between;
  backdrop-filter: unset;
}

main {
  display: flex;
  align-items: center;
}

#my-image {
  float: inline-end;
  width: 20rem;
  margin: 1rem;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 650px) {
  body {
    min-height: 100svh;
  }

  .card {
    margin: 5vh 5vw;
  }

  #my-image {
    display: block;
    float: unset;
    width: 50vw;
    margin: 0 auto;
  }
}
