:root {
  --text-color-1: hsl(0, 0%, 5%);
  --text-color-2: hsl(347, 100%, 75%);
  --background-color: hsl(0, 0%, 90%, 0.45);
}

body {
  background: hsl(0, 0%, 27%);
  background-image: url("../images/mesa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
  margin: 5vh 5vw;
  border-radius: 16px;
  background-color: var(--background-color);
  box-shadow: 1px 1px 7px 2px hsl(347, 100%, 0%);
  backdrop-filter: blur(2px);
}

.main-card > header {
  position: static;
  display: flex;
  justify-content: space-between;
  backdrop-filter: unset;
  padding-bottom: 1lh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
  width: 100%;
}

article.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 23rem; */
  height: 29rem;
  max-width: 80vw;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 13%);
}

.card header {
  display: flex;
  justify-content: space-between;
}

.card footer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.card img, .card video {
  width: 15rem;
}

.content {
  display: flex;
  flex-grow: 1;
}

h2 {
  text-align: center;
  margin-bottom: 0.5lh;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

li {
  list-style-type: none;
}

.li-svg svg{
  width: 1.8rem;
  stroke: aliceblue;
}

.section-content {
  display: block;
}

.section-on {
  display: block;
}

#my-image {
  float: inline-end;
  width: 20rem;
  margin: 1rem;
  height: auto;
  border-radius: 50%;
}

#projetos p{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
}

@media (max-width: 650px) {
  body {
    min-height: 100svh;
  }

  .card {
    margin: 5vh 5vw;
  }

  #my-image {
    display: block;
    float: unset;
    width: 50vw;
    margin: 0 auto;
  }
}
