section#sobre,
section#projetos,
section#plano {
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

#minha-foto  {
  display: inline-block;
  border: 0.062rem solid black;
}

#minha-foto img {
  width: 12rem;
}

#minha-foto figcaption {
  width: 12rem;
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.85);
}

a[target="_blank"]::after {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.1em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path d="M18 13v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
