.card-container {
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.main-card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 100%;
}

.pre-btn,
.nxt-btn {
  height: calc(95svh - var(--header-height));
  box-shadow: none;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: transparent;
}

.pre-btn {
  left: 0;
}

.nxt-btn {
  right: 0;
  transform: scaleX(-1);
}

.pre-btn svg,
.nxt-btn svg {
  color: hsl(0 0% 0% / 0.5);
  stroke-width: 3;
  width: 1rem;
  height: auto;
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.9));
}
