html {
  scroll-behavior: smooth;
  background-color: #cfe8fd;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

body {
  min-height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

h2,
h3,
h4 {
  font-family: "Audiowide", cursive;
  color: #003f7d;
}

nav {
  > ul {
    padding: 0;
    margin: 0;

    > li {
      list-style-type: none;

      > a {
        text-decoration: none;
        transition: 0.2s;

        &:visited {
          color: inherit;
        }
        &:hover {
          background-color: #83c7ff6d;
        }
        &:active {
          font-weight: inherit;
        }
      }
    }
  }
}

a {
  text-decoration: underline solid 0.063rem;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;

  &:link {
    color: inherit;
  }
  &:visited {
    color: #551a8b;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: red;
    font-weight: bolder;
  }
  &[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.1em;
    background-image: url("/images/svg/external-link.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}

h1 > a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

h2 > a,
h3 > a {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;

  &:active {
    color: #551a8b;
  }
}

p {
  margin: 0.625rem;
}
