html {
  scroll-behavior: smooth;
  font: 1.125rem "Iceland", sans-serif;
  background-color: #cfe8fd;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  max-width: 50rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  margin: 0 auto;
}

h1 {
  & > a {
    text-decoration: none;
    color: black;
    &:visited {color: black;}
    &:focus {color: black;}
    &:hover {text-decoration: none;}
    &:active {color: black;}
  }
}

h2, h3, h4 {
  font-family: "Audiowide", sans-serif;
  & > a {
    text-decoration: none;
    color: black;
    &:visited {color: black;}
    &:focus {color: black;}
    &:hover {text-decoration: underline solid 0.125rem;}
    &:active {color: black;}
  }
}

nav {
  & > ul {
    padding: 0;
    margin: 0;
    & > li {
      list-style-type: none;
      & > a {
        text-decoration: none;
        padding: 0.1rem 0.2rem;
        color: black;
        border-radius: 0.313rem;
        &:visited {color: black;}
        &:focus {color: black;}
        &:hover {background-color: #83c7ff6d;}
        &:active {color: black;}
      }
    }
  }
}

p {
  margin: 0.625rem;
}

figure {
  display: inline-block;
  border: 0.062rem solid black;
  width: 12rem;
  & > img {width: 100%;}
  & > figcaption {
    font-size: 0.7rem;
    padding-left: 0.2rem;
    background-color: rgba(127, 127, 127, 0.3);
  }
}

a {
  text-decoration: underline solid 0.063rem;
  color: #007ed4;
  &:visited {color: #551a8b;}
  &:focus {color: green;}
  &:hover {text-decoration: none;}
  &:active {color: red;}
  &[target="_blank"]::after {
    content: "\00a0";
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.1em;
    /* SVG convertido para Data URI */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0%20-960%20960%20960' width='24px' fill='%231f1f1f'%3E%3Cpath d='M200-120q-33%200-56.5-23.5T120-200v-560q0-33%2023.5-56.5T200-840h280v80H200v560h560v-280h80v280q0%2033-23.5%2056.5T760-120H200Zm188-212-56-56%20372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}
