html {
  scroll-behavior: smooth;
  background-color: #cfe8fd;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

body {
  min-height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

h1 {
  > a {
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }
  }
}

h2,
h3,
h4 {
  font-family: "Audiowide", cursive;

  > a {
    text-decoration: underline solid 0.125rem;
    color: black;

    &:visited {
      color: black;
    }
  }
}

nav {
  > ul {
    padding: 0;
    margin: 0;

    > li {
      list-style-type: none;

      > a {
        text-decoration: none;
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;

        &:visited {
          color: inherit;
        }
        &:hover {
          background-color: #83c7ff6d;
        }
      }
    }
  }
}

a {
  text-decoration: underline solid 0.063rem;
  
  &:link {
    color: inherit;
  }
  &:visited {
    color: #551a8b;
  }
  &:focus {
    color: blue;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: red;
  }
  &[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.1em;
    background-image: url("/images/svg/external-link.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}

p {
  margin: 0.625rem;
}

figure {
  display: inline-block;
  border: 0.062rem solid black;
  width: 12rem;

  > img {
    width: 100%;
  }
  > figcaption {
    font-size: 0.7rem;
    padding-left: 0.2rem;
    background-color: rgba(127, 127, 127, 0.3);
  }
}
